
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    margin: 0;
    outline: none;
    font-family: "Noto Sans KR", sans-serif !important;
    font-size: 14px;
    text-decoration-line: none;
  }

header {
    position: fixed;
    top:0;
    left:0;
    right:0;
    padding: 1rem;
    background: teal;
    color: white;
    font-weight: 700;
    justify-content: space-between;
    text-align: center;
    z-index: 3;
    float: left;
}
main {
    position: fixed;
    top:3.9rem;
    /*스크롤지정*/
    left: 0; 
    right: 0; 
    bottom: 0; 
    overflow: auto;
}

a {
    color: white;
}
.container {
    border: 1px solid #1DB99A;;
    display: block;
    margin-bottom: 2%;
}

img {
    display:inline-block;
}

h2 {
    background-color: #1DB99A;
    color: rgb(248, 247, 210);
    margin-bottom: 10px;
    font-size: 1.2em;
    padding: 5px;
}


.no-underline {
    text-decoration-line: none;
}

table, th, tr, td {
    border: 1px solid  #1DB99A;
    border-collapse: collapse;
    padding: 10px 20px;
    text-align: center;
    margin: 0 auto;
}

th {
    background-color: #1db99a4d;
    color: teal;
}

.box {
    position: fixed;
    background-color: #1DB99A;
    border: 1px solid #fff;
    box-shadow: 0px 0px 15px #aaa;
    width: 64px;
    height: 64px;
    right: 50px;
    bottom:50px;
    border-radius: 50%;
    color: #fff;
    line-height: 60px;
    text-align: center;
}

b {
    background-color: cornflowerblue; 
    color: cornsilk;
}

.button {
    background-color: #1DB99A;
    color: white;
    border-radius: 50px;
    border: none;
    border: 1px solid #1DB99A;;
    font-weight: 700;
    font-size: 0.9em;
}

.button:active {
    background-color: tomato;
    color: white;
    border-radius: 50px;
    border: 1px solid  tomato;;
   
}

.reset {
    background-color: white;
    color:  #1DB99A;
    border-radius: 50px;
    border: 1px solid #1DB99A;
    font-weight: 700;
    font-size: 0.9em;
}

.reset:active {
    background-color: tomato;
    color: white;
    border-radius: 50px;
    border: 1px solid tomato;
}

fieldset {
    width: 300px; text-align: center;
}

input {
    border: none;
    width: 100%;
}

.default-input {
    width:min-content;
}

.image-input {
    width:100px;
    height:100px;
}


.mt5 { margin-top: 5px;}
.mt10 { margin-top: 10px;}
.mt15 { margin-top: 15px;}
.mt20 { margin-top: 20px;}
.mt25 { margin-top: 25px;}
.mt30 { margin-top: 30px;}
.mt35 { margin-top: 35px;}
.mt40 { margin-top: 40px;}
.mt45 { margin-top: 45px;}
.mt50 { margin-top: 50px;}

.mb5 { margin-bottom: 5px;}
.mb10 { margin-bottom: 10px;}
.mb15 { margin-bottom: 15px;}
.mb20 { margin-bottom: 20px;}
.mb25 { margin-bottom: 25px;}
.mb30 { margin-bottom: 30px;}
.mb35 { margin-bottom: 35px;}
.mb40 { margin-bottom: 40px;}
.mb45 { margin-bottom: 45px;}
.mb50 { margin-bottom: 50px;}

.mr5 { margin-right: 5px;}
.mr10 { margin-right: 10px;}
.mr15 { margin-right: 15px;}
.mr20 { margin-right: 20px;}
.mr25 { margin-right: 25px;}
.mr30 { margin-right: 30px;}
.mr35 { margin-right: 35px;}
.mr40 { margin-right: 40px;}
.mr45 { margin-right: 45px;}
.mr50 { margin-right: 50px;}

.mf5 { margin-left: 5px;}
.mf10 { margin-left: 10px;}
.mf15 { margin-left: 15px;}
.mf20 { margin-left: 20px;}
.mf25 { margin-left: 25px;}
.mf30 { margin-left: 30px;}
.mf35 { margin-left: 35px;}
.mf40 { margin-left: 40px;}
.mf45 { margin-left: 45px;}
.mf50 { margin-left: 50px;}

.pr5 { padding-right: 5px;}
.pr10 { padding-right: 10px;}
.pr15 { padding-right: 15px;}
.pr20 { padding-right: 20px;}
.pr25 { padding-right: 25px;}
.pr30 { padding-right: 30px;}
.pr35 { padding-right: 35px;}
.pr40 { padding-right: 40px;}
.pr45 { padding-right: 45px;}
.pr50 { padding-right: 50px;}

.pf5 { padding-left: 5px;}
.pf10 { padding-left: 10px;}
.pf15 { padding-left: 15px;}
.pf20 { padding-left: 20px;}
.pf25 { padding-left: 25px;}
.pf30 { padding-left: 30px;}
.pf35 { padding-left: 35px;}
.pf40 { padding-left: 40px;}
.pf45 { padding-left: 45px;}
.pf50 { padding-left: 50px;}

.pt5 { padding-top: 5px;}
.pt10 { padding-top: 10px;}
.pt15 { padding-top: 15px;}
.pt20 { padding-top: 20px;}
.pt25 { padding-top: 25px;}
.pt30 { padding-top: 30px;}
.pt35 { padding-top: 35px;}
.pt40 { padding-top: 40px;}
.pt45 { padding-top: 45px;}
.pt50 { padding-top: 50px;}

.pb5 { padding-bottom: 5px;}
.pb10 { padding-bottom: 10px;}
.pb15 { padding-bottom: 15px;}
.pb20 { padding-bottom: 20px;}
.pb25 { padding-bottom: 25px;}
.pb30 { padding-bottom: 30px;}
.pb35 { padding-bottom: 35px;}
.pb40 { padding-bottom: 40px;}
.pb45 { padding-bottom: 45px;}
.pb50 { padding-bottom: 50px;}

