/* @import url(reset.css); */
* { margin: 0; outline: none;  font-size: 10pt; text-decoration-line: none; margin:5px; color: rgb(70, 70, 70); }
table, th, td { border-collapse: collapse; border-spacing: 0; border: 1px solid slateblue; padding:10px;}
th { background-color: hsla(330, 100%, 71%,0.8); color: white; text-align: center;}
h4 { margin-top:100px; background-color: rgba(106, 90, 205,1.0); color: rgb(255, 255, 255);  margin-bottom: 10px; font-size: 1.2em; padding: 5px;}

/********************************************************************/
/*white-space*/
/* p.wh-normal {  width:22em; border:2px solid #c311d3; white-space: normal;}; */
/* p.wh-nowrap {  width:100px; border:2px solid #330b36; white-space: nowrap !important;}; */
p.wh-pre { white-space: pre};
p.wh-pre-wrap { white-space: pre-wrap};
p.wh-pre-line { white-space: pre-line};


/* 텍스트에서의 줄 장식 */
.text1 { text-decoration: none;}
.text2 { text-decoration: overline;}
.text3 { text-decoration: underline;}
.text4 { text-decoration: line-through;}
/*text-decoration 속성*/
.text11 { text-decoration: overline red wavy;}
.text12 { text-decoration-line: underline; text-decoration-color: red ; text-decoration-style: wavy; }
/*텍스트에 그림자 효과 지정*/
.shadow1 { text-shadow: 0.2em 0.2em rgb(0,255,0); } /*기준: 텍스트 ::: 수평, 수직, 색상*/
.shadow2 { text-shadow: 7px 7px 5px red; }/* 기준: 텍스트 ::::  수평, 수직, 흐림정도, 색상 */
.shadow3 { text-shadow: 7px 7px red, -5px 5px 5px yellow, 7px -7px blue; }/* 기준: 텍스트 :::: h,v 양수일때 : 우측아래, h,v 음수일때 : 좌측 위 */

/*word-wrap*/
p.line { width:22em; border:2px solid #0000ff; }
p.line.test0{ word-wrap:normal; }
p.line.test1{ word-wrap:break-word; }
/*word-break*/
p.line.test2{ word-break:normal; }/*하이픈 처리: 물론 한글에선 하이픈은 없다. 영어에 비유*/
p.line.test3{ word-break:break-all; }/*하이픈 처리 :  물론 한글에선 하이픈은 없다. 영어에 비유*/
p.line.test4{ word-break:keep-all; } /*하이픈 없이 다음줄로 내려감*/
/*text-overflow : clip, ellipsis*/
p.line.test5{ width: 250px; border: 1px solid black; white-space: nowrap; overflow: hidden; /* hidden, scroll, auto 가능 */
	text-overflow:clip; } /*가로싸이즈만큼만 텍스트 보임*/
p.line.test6{ width: 250px; border: 1px solid black; white-space: nowrap;
	overflow: hidden; /* hidden, scroll, auto 가능 */ text-overflow:ellipsis; } /*가로싸이즈 끝에 점점점 으로 표시 ...*/
span.word-break {color: red}

/*display 속성*/
.my-span0 { background-color: lightblue; display: none; }
.my-span1 { background-color: lightblue; display: inline; }
.my-span2 { background-color: lightblue; display: block; }
.my-span3 { background-color: lightblue; display: inline-block; }
.my-span4 { background-color: lightblue; display: list-item; }
/*margin 속성*/
div.margin-test { font-size:12pt; border:solid; background-color: yellow;}
.margin1 { margin-top:20px; margin-right: 40px; margin-bottom: 60px; margin-left: 30px;  }
.margin2 { margin: 20% 30% 40% }
.margin3 { margin: 20%  }
/*margin 속성 ; 박스가 인접하지 않은경우, 인접한 경우 */
.margin4 { margin-bottom: 30px; }
.margin5 { margin-top: 60px; }
.inline-block { display: inline-block; border:1px solid steelblue }
/*padding 속성 : */
div.padding-test { border:1px solid; background-color: mediumaquamarine;}
span.padding-span { background-color: violet; color: white;}
.padding1 { padding-top:5%; padding-right: 10%; padding-bottom: 15%; padding-left: 20%; }
.padding2 { padding:20px 40px 5px 10px }
.padding3 { padding:5%; }
/*width, height 속성*/
.style1 { width: 40%; background-color: cyan; border: 1px solid red; }
.style2 { height: 100px; background-color: orange; border: 1px solid red; }
.style3 { width: 100px; height: 50px; background-color: lightblue; border: 1px solid red; }
.style4 { width: 600px; height: 15px; background-color: olive; border: 1px solid red; }
/*min-width, min-height, max-width, max-height 속성*/
.min-max-element { font-size:12pt; border:solid; background-color: yellow; }
.min { height: auto; width: auto; min-width: 600px; min-height: 30px; }
.max { height: auto; width:auto; max-width:150px; max-height: 80px; }
/*vertical-align*/
.v-span { border: 1px dashed blueviolet; font-weight: bolder; } /*bolder*/
.valign1 { vertical-align: baseline;} /*상위 요소 기준*/
.valign2 { vertical-align: sub;} 
.valign3 { vertical-align: super;}
.valign4 { vertical-align: top;}
.valign5 { vertical-align: middle;}
.valign6 { vertical-align: bottom;}
.valign7 { vertical-align: text-top;}
.valign8 { vertical-align: text-bottom;}
.valign9 { vertical-align: 10pt;}
.valign10 { vertical-align: -10pt;}
/*position 속성*/
.position-exam { width: fit-content; border: 1px dashed royalblue; display:flex; padding:10px; } /*width: fit-content -> 가로싸이즈 지정: 컨텐츠만큼 가로 차지함. display:flex; 하위 수직정렬(div)을 가로정렬로 바꿈 == inline-block과 동일효과 */
.box1 { display: flex; align-items: center; width:100px; height: 100px; background-color: crimson;}  /*display:flex 가로세로 영역만큼 모두 차지, align-item:center는 수직정렬 역할  */
.box2 { display: flex; align-items: center; position:relative; top:20px; left:30px; width:100px; height: 100px; background-color: slateblue;} 
.box3 { display: flex; align-items: center; width:100px; height: 100px; background-color: crimson;} 
.box4 { display: flex; align-items: center; position:absolute; top:0px; left:30px; width:100px; height: 100px; background-color: yellowgreen;} 
.in-box-span { text-align: center; color: white;}
/*top, bottom 속성*/
.block {  position:relative; /*top:30px; left:60px; margin-bottom: 50px; */ width:350px; height: 150px; border: 1px solid blueviolet;   }
.my-div0 { position: relative; top:auto; bottom:auto; left:auto; right:auto; left:auto; margin: 0; width:200px; border: 1px solid red; background-color: yellow;  }
.my-div1 { position: relative; top:20px; margin: 0; width:200px; border: 1px solid red; background-color: yellow;  } 
.my-div2 { position: relative; bottom:20px; margin: 0; width:200px; border: 1px solid red; background-color: yellow;  }
.my-div3 { position: relative; top:-20px; margin: 0; width:200px; border: 1px solid red; background-color: yellow;  }
.my-div4 { position: relative; bottom:-30px; margin: 0; width:200px; border: 1px solid red; background-color: yellow;  }
/*left, right 속성*/
.my-div5 { position: relative; left:20%; margin: 0; width:200px; border: 1px solid red; background-color: yellow;  }
.my-div6 { position: relative; right:35px; margin: 0; width:200px; border: 1px solid red; background-color: yellow;  }
.my-div7 { position: relative; left:-20px; margin: 0; width:200px; border: 1px solid red; background-color: yellow;  }
.my-div8 { position: relative; right:-30px; margin: 0; width:200px; border: 1px solid red; background-color: yellow;  }
/*z-index 속성*/
.z-index { width:120px; height: 120px;}
.pos1 { position: static; top: 120px; left: 120px; background-color: gray; color: white; display: flex; align-items: center; text-align: center;}
.pos2 { position: relative; z-index: 3; top: -30px; left: 60px; background-color: tomato; color: white; display: flex; align-items: center; text-align: center;}
.pos3 { position: absolute; z-index: 2; top: 120px; left: 150px; background-color: teal; color: white; display: flex; align-items: center; text-align: center;}
.pos4 { position: absolute; top: 90px; left: 90px; background-color: sienna; color: white; display: flex;  text-align: center;}
.pos5 { position: fixed; top: 30px; left: 10px; background-color: olive; color: white; display: flex; align-items: center; text-align: center;}
/*float 속성*/
.float-container { width:70%; overflow: auto; border: 1px solid purple; } /* float 속성은 상위요소에 영향을 미치지 않기때문에 height싸이즈를 차지하지 않음 그래서 overflow:auto 콘텐츠가 요소 박스를 넘어서는 경우의 처리 방법*/
.float-box1 { float: none; display:flex; width:100px; height: 100px; margin: 10px; padding: 10px; background-color: orangered;  }
.float-box2 { float: left; width:100px; height: 100px; margin: 10px; padding: 10px; background-color: orangered;  }
.float-box3 { float: right; width:100px; height: 100px; margin: 10px; padding: 10px; background-color: orangered;  }
/*clear 속성*/
img.float { float: none;}
img.float1 { float: left;}
img.float2 { float: right;}
img.float3 { float: left;}
p.clear1 { clear:left; clear: both; background-color: burlywood;}
p.clear2 { clear:right; clear: both; background-color: burlywood;}
/*overflow 속성*/
.overflow0 { height: 100px; width: 250px; border:1px solid crimson; overflow: hidden;}
.overflow1 { height: 100px; width: 250px; border:1px solid crimson; overflow: scroll;}
.overflow2 { height: 100px; width: 250px; border:1px solid crimson; overflow: auto;}
/*visibility 속성*/
.non-visibility { visibility: hidden; background-color: hsla(51, 100%, 50%, 0.5);}
.legacy { visibility: collapse;}
/*resize*/
.resize { border:2px dashed dodgerblue; background-color: white; padding: 20px; width: 300px; resize: both; overflow: auto;}
